.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background: #ddd;
    padding: 2rem;
}
.comment {
    width: 40%;
    background: #fff;
    padding: 1rem;
    margin: 0.5rem 0;
}
.comment p {
    color: #666;
    padding: 0.2rem;
    font-weight: 300;
}
.comment small {
    color: #666;
    font-weight: 600;
}
.btn-remove {
    border: none;
    padding: 0.2rem 0.4rem;
    background: #e55039;
    color: #fff;
}
.btn-remove:hover {
    background: #eb2f06;
    transition: all linear 0.4s;
    cursor: pointer;
}
.btn-remove:focus {
    outline: none;
}
