.txtMessage {
    background: #eee;
    display: flex;
}
.btnMessage {
    padding: 1rem 1.4rem;
    border: none;
    background: #079992;
    color: #fff;
}
.btnMessage:hover {
    background: #38ada9;
    transition: all linear 0.2s;
    cursor: pointer;
}
.form-input {
    padding: 1rem;
    border: none;
    background: #eee;
    color: #333;
    font-size: 1rem;
}
.form-input:focus {
    outline: none;
}
